{% extends "base.html" %}

{% block title %}Glory Store - Подтверждение логина {% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>
        Здравствуй, {{ current_user.username }}!
    </h1>
    <h3>Вы еще не подтвердили свою учетную запись</h3>
    <p> Перед тем чтобы получить доступ к данным на сайте вам необходимо подтвердить вашу регистрацию на сайте.
        Проверьте ваш почтовый ящик указанный в анкете, вы должны были получить электронное письмо
        с запросом на подтверждение

    </p>
    <p>
        Необходимо дополнительное письмо с подтверждением регистрации учетной записи?
        <a href="{{ url_for('auth.resend_confirmation') }}">Нажмите здесь</a>
    </p>
</div>
{% endblock %}