{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Glory Store - добавление события{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Добавление нового мероприятия</h1>
</div>
<div>
     <form class="form-horizontal" method="post" >
         {{ form.hidden_tag() }}
         <div class="row">
             <div class="col-md-4">
                {{ wtf.form_field(form.short_name) }}
             </div>
             <div class="col-md-8">
                {{ wtf.form_field(form.name, form_type='basic', horizontal_columns=('md', '2', '8')) }}
             </div>
         </div>
         <div class="row">
             <div class="col-md-4">
                 <div class="form-group">
                     <label class="control-label" for="date_begin">{{ form.date_begin.label.text }}</label>
                     <input class = "form-control datepicker"
                                data-provide="datepicker"
                                data-format="dd.MM.yyyy hh:mm"
                                id="date_begin"
                                type="text"
                                value="{{ form.date_begin.data }}"
                                name="date_begin" required/>
                 </div>
             </div>
             <div class="col-md-4">
                 <div class="form-group">
                     <label class="control-label" for="date_end">{{ form.date_end.label.text }}</label>
                     <input class = "form-control datepicker"
                                    data-provide="datepicker"
                                    data-format="yyyy-MM-dd hh:mm:ss"
                                    id="date_end"
                                    type="text"
                                    value="{{ form.date_end.data }}"
                                    name="date_end" required/>
                 </div>
             </div>
             <div class="col-md-4">
                 {{ wtf.form_field(form.location) }}
             </div>
         </div>


         <div class="row">
             <div class="col-md-12">
                {{ wtf.form_field(form.description)|safe }}
             </div>
         </div>
        {# {{ wtf.form_field(form.date_begin, class="form-control datepicker") }} #}
                {# {{ wtf.form_field(form.date_end, class="form-control datepicker") }} #}
        {{ wtf.form_field(form.submit, button_map={'submit': 'primary btn-lg'}) }}
     </form>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
    <script>
        $(function () {
            $('.datepicker').datetimepicker({locale: 'ru'});
        });
    </script>
{% endblock %}
{% block moment %}
{% endblock %}