{% extends "bootstrap/base.html" %}

{% block title %}Glory Store{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-datetimepicker.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='css/Site.css') }}" />
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation" >
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('main.index') }}">
                <span class="glyphicon glyphicon-leaf" aria-hidden="true"></span>&nbsp;Glory Store
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('main.index') }}"><i class="fa fa-home fa-lg" aria-hidden="true"></i></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        События <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Календарь событий</a></li>
                        <li><a href="{{ url_for('main.events_list')}}">Список событий</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <img src="{{ current_user.gravatar(size=18)}}">&nbsp;{{ current_user.username }} <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('main.user', username=current_user.username)}}">Профиль</a></li>
                        <li><a href="{{ url_for('auth.logout')}}">Выйти</a></li>
                    </ul>
                </li>
                {% else %}
                <li><a href="{{ url_for('auth.login')}}">Войти</a> </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% for (category, message) in get_flashed_messages(with_categories=true) %}
    <div class="alert alert-{{ category }}">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src = "{{ url_for('static', filename='js/moment.js') }}"></script>
{{ moment.include_moment() }}
{{ moment.lang("ru") }}

<script src = "{{ url_for('static', filename='js/moment-with-locales.min.js')}}"></script>
<script src = "{{ url_for('static', filename='js/bootstrap-datetimepicker.js') }}"></script>
{% endblock %}