{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Glory Store - изменение события{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Изменение мероприятия</h1>
</div>
<div class="col-md-4">
     <form class="form form-horizontal" method="post" >
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.short_name) }}
        {{ wtf.form_field(form.name) }}
        {{ wtf.form_field(form.description) }}
        {{ wtf.form_field(form.location) }}
        {# {{ wtf.form_field(form.date_begin, class="form-control datepicker") }} #}
         <div class="form-group">
             <label class="control-label" for="date_begin">{{ form.date_begin.label.text }}</label>
             <input class = "form-control datepicker"
                        data-provide="datepicker"
                        data-format="dd.MM.yyyy hh:mm"
                        id="date_begin"
                        type="text"
                        value="{{ form.date_begin.data }}"
                        name="date_begin" required/>
         </div>
         <div class="form-group">
             <label class="control-label" for="date_end">{{ form.date_end.label.text }}</label>
             <input class = "form-control datepicker"
                        data-provide="datepicker"
                        data-format="yyyy-MM-dd hh:mm:ss"
                        id="date_end"
                        type="text"
                        value="{{ form.date_end.data }}"
                        name="date_end" required/>
         </div>
       {# {{ wtf.form_field(form.date_end, class="form-control datepicker") }} #}
        {{ wtf.form_field(form.submit, button_map={'submit': 'primary btn-lg'}) }}
     </form>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
    <script>
        $(function () {
            $('.datepicker').datetimepicker({locale: 'ru'});
        });
    </script>
{% endblock %}
{% block moment %}
{% endblock %}