{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Glory Store - изменение профиля пользователя{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Изменение профиля пользователя</h1>
</div>
<div class="col-md-4">
    <form class="form form-horizontal" method="post" >
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.last_name) }}
        {{ wtf.form_field(form.first_name) }}
        {{ wtf.form_field(form.middle_name) }}
        {% if form.email %}
        {{ wtf.form_field(form.email) }}
        {{ wtf.form_field(form.username) }}
        {{ wtf.form_field(form.confirmed) }}
        {{ wtf.form_field(form.role) }}
        {% endif %}
        {{ wtf.form_field(form.birthday, class="form-control datepicker" ) }}
        {{ wtf.form_field(form.about_me) }}
        {{ wtf.form_field(form.location) }}
        {{ wtf.form_field(form.submit, button_map={'submit': 'primary btn-lg'}) }}
    </form>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
    <script>
        $(function () {
            $('.datepicker').datetimepicker({locale: 'ru'});
        });
    </script>
{% endblock %}